<div class="container">
  <div class="row">
    <div class="col-6 offset-3 shadow p-3 mb-5 bg-white rounded">
      <form [formGroup]="form" enctype="multipart/form-data" *ngIf="user">
        <input type="text" placeholder="firstName" class="form-control my-3" formControlName="firstName">
        <input type="text" placeholder="lastName" class="form-control my-3" formControlName="lastName">
        <div class="custom-file my-1">
          <input type="file" name="single" class="custom-file-input" (change)="handleFileInputInfo($event)" placeholder="image">
          <label class="custom-file-label">Upload photo</label>
        </div>
        <input type="date" name="bday" formControlName="date" placeholder="BDay" class="form-control my-2">
      </form>
      <button class="btn btn-light" (click)="change(user)">Save</button>
    </div>
  </div>
</div>















<!--<form class="example-form">-->
  <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="firstName" value="Sushi">-->
  <!--</mat-form-field>-->

  <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="lastName" value="Sushi">-->
  <!--</mat-form-field>-->

  <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="email" value="Sushi">-->
  <!--</mat-form-field>-->

  <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="password" value="Sushi">-->
  <!--</mat-form-field>-->

  <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="confirmPassword" value="Sushi">-->
  <!--</mat-form-field>-->
<!--</form>-->
