<div class="container" style="text-align: center; margin: 8%; padding: auto">
  <div class="row">
    <div class="col-6 offset-3 shadow p-3 mb-5 bg-white rounded">
      <form [formGroup]="changePassword">
        <input type="password" placeholder="password" formControlName="password" class="form-control my-2" [ngClass]="{'setColor': getColorPass()}">
        <div *ngIf="!changePassword.controls['password'].valid && changePassword.controls['password'].touched" class="error">
          {{ getErrorPassword() }}
        </div>
        <input type="password" placeholder="newPassword" formControlName="newPassword" class="form-control my-2" [ngClass]="{'setColor': getColorNewPass()}">
        <div *ngIf="!changePassword.controls['newPassword'].valid && changePassword.controls['newPassword'].touched" class="error">
          {{ getErrorNewPassword() }}
        </div>
        <input type="password" placeholder="confirmPassword" formControlName="confirmPassword" class="form-control my-2" [ngClass]="{'setColor': getColorConfirmPass()}">
        <div *ngIf="!changePassword.controls['confirmPassword'].valid && changePassword.controls['confirmPassword'].touched || changePassword.controls['newPassword'] !== changePassword.controls['confirmPassword'] && changePassword.controls['confirmPassword'].touched" class="error">
          {{ getErrorConfirmPassword() }}
        </div>
        <button class="btn btn-light" (click)="saveNewPassword()" [disabled]="changePassword.invalid">Save</button>
      </form>
    </div>
  </div>
</div>
