div {
  text-align: center;
}
form {
  width: 58%;
  margin: 58px auto;
  border-top: 3px solid rgba(92, 133, 118, 0.96);
  border-bottom: 3px solid rgba(92, 133, 118, 0.96);
  border-radius: 38px;
}
mat-form-field {
  width: 58%;
}
button {
  margin-bottom: 33px;
  background-color: rgba(161, 108, 114, 0.96);
  color: #fff4e6;
  border: 2px solid #fff4e6;
}

