div {
  text-align: center;
}
form {
  width: 58%;
  margin: 58px auto;
  border-top: 3px solid rgba(92, 133, 118, 0.96);
  border-bottom: 3px solid rgba(92, 133, 118, 0.96);
  border-radius: 38px;
}
mat-form-field {
  width: 58%;
}
button {
  margin: 3px 8px 33px 8px;
  background-color: rgba(161, 108, 114, 0.96);
  color: #fff4e6;
  border: 2px solid rgb(122, 82, 88);
  font-weight: 800;
}
#resetPassword {
  background-color: rgba(145,161,146,0.96);
  color: rgba(161, 108, 114, 0.96);
  border: 2px solid rgba(161, 108, 114, 0.96);
}
#resetPassword:hover {
  background-color: rgba(124, 149, 172, 0.67);
}

