

<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="form">
        <input type="text" placeholder="title" formControlName="title">
        <input type="text" placeholder="slug" formControlName="slug">
        <input type="text" placeholder="image" formControlName="image">
        <input type="text" placeholder="description" formControlName="description">
        <!--<div class="input-group"  style="display: inline-block; width: 13%">-->
        <select class="custom-select" style="display: inline-block; width: 13%" formControlName="category">
          <option *ngFor="let item of categories" value="{{item._id}}">{{item.title}}</option>
        </select>
        <button type="submit" class="btn btn-info" (click)="add()">Add</button>
      </form>
      <!--</div>-->
    </div>
  </div>
</div>


<div class="container">
  <div class="row" style="padding: 18px">
    <!--<div class="col-md-4">-->
    <div class="col-md-4 card mb-3" *ngFor="let item of products" style="text-align: center">
      <div class="card-header">
        <img src="{{item.image}}" alt="" class="img-fluid" style="height: 180px;">
      </div>
      <div class="card-body text-info">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.description}}</p>
      </div>
      <div class="footer">
        <button type="button" class="btn btn-info" (click)="delete(item)">Delete</button>
        <!--<button class="btn btn-info" (click)="a(item)">Change</button> &lt;!&ndash;[routerLink]="['/change', item.title]"&ndash;&gt;-->

        <!-- modals -->


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" (click)="loadProduct(item)" attr.data-target="#exampleModalCenter{{item.title}}">Change</button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter{{item.title}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{item.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form  [formGroup]="change">
                  <!--{{item.description}}-->
                  <input type="text" style="width: 88%" formControlName="title">
                  <input type="text" style="width: 88%" formControlName="slug">
                  <input type="text" style="width: 88%" formControlName="image">
                  <input type="text" style="width: 88%" formControlName="description">
                  <select class="custom-select" style="display: inline-block; width: 88%" formControlName="category">
                    <option *ngFor="let item of categories" value="{{item._id}}" selected>{{item.title}}</option>
                  </select>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveChanges(item)">Save changes</button>
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>
    <!--</div>-->
  </div>
</div>



