<div class="container">
  <div class="row my-5">
    <div class="col-6 m-auto">
      <form [formGroup]="resetPassword">
        <input type="password" placeholder="new password" formControlName="newPassword" class="form-control my-4">
        <input type="password" placeholder="confirm password" formControlName="confirmPassword" class="form-control my-4">
        <button class="btn my-2" *ngIf="button" (click)="save()" [disabled]="resetPassword.invalid">Save Password</button>
        <div *ngIf="loader" class="loader" id="loader-1"></div>
      </form>
    </div>
  </div>
</div>
