.container {
  text-align: center;
  background-color: aliceblue;
  border-radius: 18px;
  margin-top: 18px;
}
.row {
  padding: 8px;
}
.col {
  background-color: aliceblue;
  margin: 8px 3px;
}
img {
  height: 38px;
}
