.all {
  margin-top: 18px ;
}
button {
  border: 2px solid rgba(82, 0, 0, 0);
  font-size: 12px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0);
  color: #005e5e;
  margin-bottom: 18px;
}
button:hover {
  background-color: whitesmoke;
  border: 2px solid teal;
  color: #520000;
}
hr {
  width: 88%;
  height: 1px;
  background-color: lavender;
}
.mat-card {
  padding: 1.5%;
  margin: 1%;
  text-align: center;
  background-color: rgba(245, 245, 245, 0);
}
.mat-card .mat-card-image {
  width: 11rem;
  height: 13rem;
  margin: 5px 8px 0px;
}
.mat-card-actions {
  padding: 0px;
}

